.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.chatWrapper {
  width: 100%;
  max-width: 440px;
  display: flex;
  justify-content: center;
  height: 90vh;
  max-height: 850px;
}

@media (max-width: 600px) {
  .main {
    padding: 0;
  }
  
  .chatWrapper {
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
  }
}
